.portfolio-section {
  background-color: #fff;
  padding: 90px 0 100px;
}

.title-section h3 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #614cab;
}

.portfolio .portfolio-filter-menu {
  margin-bottom: 30px;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-filter-menu ul li.active {
  background: #614cab;
  color: #fff;
}

.portfolio .portfolio-filter-menu ul li {
  display: inline-block;
  margin: 0 10px;
  border: 1px solid #614cab;
  cursor: pointer;
  font-size: 15px;
  color: #444;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 6px;
}

.card-margins {
  margin-right: 0;
  margin-left: 0;
}

.portfolio .row .col-md-4 {
  padding: 15px;
}

.portfolio .content-image img {
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 765px) {
  .portfolio .portfolio-filter-menu ul {
    display: flex;
    flex-direction: column;
  }
  .portfolio .portfolio-filter-menu ul li {
    margin-bottom: 15px;
  }
}
