.pricing {
  text-align: center;
}

.pricing-section {
  background-color: #fff;
  padding: 90px 0 100px;
}

.pricing .content {
  background: #f9f8fc;
  text-align: center;
  border-radius: 15px;
  padding: 35px 0 46px;
}

.pricing .content h4 {
  font-size: 24px;
}

.pricing .content span {
  font-size: 38px;
  color: #614cab;
  display: block;
  margin: 14px;
  font-weight: 600;
}

.pricing .content ul li {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
}

.pricing .content ul li.not-active {
  color: #ddd;
}

.pricing .button {
  position: relative;
  bottom: 46px;
  margin-bottom: -46px;
}

.pricing .content-center {
  background: #614cab;
}

.pricing .content-center h4 {
  color: #fff;
}

.pricing .content-center ul li {
  color: #fff;
}

.pricing .content-center ul li.not-active {
  color: #aaa;
}

.pricing .content-center span {
  color: #fff;
}

@media screen and (max-width: 765px) {
  .pricing .content {
    margin-bottom: 30px;
  }
}
