.home-section {
  padding: 37px 0 150px !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col,
.col-sm-12,
.col-md-6,
.col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.home-section .content {
  padding-top: 20px;
}

h5 {
  font-size: 20px;
}

.home-section h5 {
  margin-top: 40px;
  letter-spacing: 1px;
}

.home-section h5 .line {
  height: 3px;
  background: #614cab;
  width: 60px;
  display: inline-block;
  position: relative;
  bottom: 5px;
  margin-right: 15px;
}

.home-section h2 {
  font-size: 102px;
  font-weight: 700;
  margin: 60px 0;
  line-height: 54px;
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #614cab;
}

ul {
  padding: 0;
  margin: 0;
}
.home-section ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li {
  list-style-type: none;
}

.button {
  background: #ffb005;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 22px;
  display: inline-block;
  border: 2px solid transparent;
  text-decoration: none;
}
.button:hover {
  background: #fff;
  border: 2px solid #ffb005;
  color: #222;
  transition: all 0.3s ease-out;
}

.button2 {
  background: transparent;
  border: 2px solid #ffb005;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  color: #222;
  letter-spacing: 1px;
  margin-top: 22px;
  margin-left: 4px;
  display: inline-block;
  text-decoration: none;
}

.button2:hover {
  background: #ffb005;
  border: 2px solid transparent;
  color: #fff;
  transition: all 0.3s ease-out;
}

.home-section .content-image {
  padding-left: 50px;
}

img {
  border-style: none;
}

.home-section .content-image img {
  height: auto;
  max-width: 100%;

  float: right;
  margin-top: 20px;
  border-radius: 40px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 765px) {
  .home-section {
    margin-top: 0;
    padding-bottom: 100px !important;
  }
  .container {
    padding: 0 15px;
  }
  .home-section .content {
    padding-top: 0;
  }
  .home-section h2 {
    font-size: 60px;
    margin: 12px 0;
  }
  .home-section .content-image {
    padding-left: 0;
  }
  .home-section .content-image img {
    margin-top: 45px;
    float: none;
  }
  .home-section .button {
    padding: 13px 20px;
  }

  .home-section .button2 {
    padding: 13px 20px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  .col-md-6 {
    max-width: 100%;
  }
}
