.services-section {
  background-color: #f4f4f6;
  padding: 90px 0 100px;
}
.services .content {
  margin-bottom: 30px;
}

.services .content {
  background: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  cursor: default;
}

.services .content h5 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.icon {
  fill: #614cab;
  width: 60px;
  height: 60px;
  stroke: #614cab;
}

.services .content:hover {
  background: #614cab;
  color: #fff;
  transition: 0.7s ease-out;
  box-shadow: 0 12px 30px -15px rgb(0 0 0 / 20%);
}
.services .content:hover > .icon {
  fill: #fff;
  stroke: #fff;
}
.services .content:hover > h5 {
  color: #fff;
}

@media screen and (max-width: 765px) {
  .services .content {
    margin-bottom: 30px;
  }
}
