.navbar {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  padding: 0px 15px;
}

.nav-links {
  color: #1c2237;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-right: 0px !important;
}

.fa-bars {
  color: #fff;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 765px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #302c42;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-links {
    color: #fff;
  }
  .nav-links:hover {
    color: #ffb005;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
