.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

p {
  line-height: 26px;
  margin-top: 0;
}

h5 {
  font-size: 20px;
}

.title-section {
  text-align: center;
  margin-bottom: 50px;
}

.title-section p {
  color: #614cab;
  margin-bottom: 15px;
  display: block;
}

.title-section h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Button Style */
.button {
  background: #ffb005;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 22px;
  display: inline-block;
  border: 2px solid transparent;
  text-decoration: none;
}

.button:hover {
  background: #fff;
  border: 2px solid #ffb005;
  color: #222;
  transition: all 0.3s ease-out;
}

.button2 {
  background: transparent;
  border: 2px solid #ffb005;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  color: #222;
  letter-spacing: 1px;
  margin-top: 22px;
  margin-left: 4px;
  display: inline-block;
  text-decoration: none;
}

.button2:hover {
  background: #ffb005;
  border: 2px solid transparent;
  color: #fff;
  transition: all 0.3s ease-out;
}

/* Colums */
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col,
.col-12,
.col-md-4,
.col-md-6,
.col-md-8,
.col-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.card-content {
  margin-bottom: 0 !important;
}

/* Responsive */
@media screen and (max-width: 765px) {
  .container {
    padding: 0 15px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  
  .col-md-6 {
    max-width: 100%;
  }

  .col-md-3 {
    max-width: 100%;
    margin-left: 20px;
    padding-bottom: 15px;
  }
}
